.experience__wrap {
  padding: 6rem 0;
  display: flex;
  justify-content: center;
  .experience {
    .row__wrap {
      .work__left {
        text-align: right;
        padding: 1% 3%;
        h4 {
          font-size: 1em;
          background: darkcyan;
          display: inline-block;
          padding: 0.6em 1.2em;
          color: #fff;

          &::before {
            width: 0;
            height: 0;
            position: absolute;
            content: "";
            left: 50%;
            border-style: solid;
            border-width: 10px 0 10px 16px;
            border-color: transparent transparent transparent rgb(0, 139, 139);
          }
        }
      }
      .col-6 {
        width: 46%;
      }
      .work_right {
        border-left: 1px solid #999;
        padding-left: 1%;

        h5 {
          font-size: 1em;
          color: #f7e612;
          margin-bottom: 0.5em;
          border: 1px solid #f7e612;
          display: inline-block;
          padding: 0 1.2em;
          margin-left: 1rem;
          span {
            font-size: 0.9em;
            color: #fff;
            background: #008b8b;
            padding: 1em;
            border-radius: 50%;
            margin-left: 2rem;
          }
        }
        p {
          font-size: 1.5vw;
          color: #999;
          line-height: 1.8em;
          word-wrap: break-word;
          @media screen and(max-width:768px) {
            font-size: 3vw;
          }
        }
      }
    }
  }
}
