.education__wrap {
  padding: 6rem 0;
  display: flex;
  justify-content: center;
  background-color: #fff;
  .education {
    .row__wrap {
      padding: 1% 0;
      .work__left {
        text-align: left;
        padding: 1% 2%;
        h4 {
          font-size: 1em;
          background: darkcyan;
          display: inline-block;
          padding: 0.6em 1.2em;
          color: #fff;
        }
      }
      .col-6 {
        width: 46%;
      }
      .work_right {
        border-right: 1px solid #999;
        text-align: right;
        padding-right: 3%;
        h5 {
          font-size: 1em;
          color: #f7e612;
          margin-bottom: 0.5em;
          border: 1px solid #f7e612;
          display: inline-block;
          padding: 0 1.2em;
          margin-right: 1rem;
          text-align: right;
          span {
            font-size: 0.9em;
            color: #fff;
            background: #008b8b;
            padding: 1em;
            border-radius: 50%;
            margin-left: 2rem;
          }
        }
        p {
          font-size: 1.5vw;
          color: #999;
          line-height: 1.8em;

          margin-left: 3rem;
          @media screen and(max-width:768px) {
            font-size: 3vw;
          }
        }
      }
    }
  }
}
