.contact__wrap {
  padding: 6rem 0;
  display: flex;
  justify-content: center;
  background-color: #fff;
  .contact {
    flex-direction: column;
    .content {
      display: flex;
      flex-direction: row;
      @media screen and (max-width: 910px) {
        flex-direction: column;
      }
      iframe {
        display: block;
        margin: 0 auto;
        width: 40%;
        @media screen and (max-width: 910px) {
          width: 100%;
        }
      }
      .content__right {
        width: 40%;
        @media screen and (max-width: 910px) {
          width: 100%;
          display: flex;
          justify-content: center;
        }
        ul {
          li {
            list-style-type: none;
            padding: 10px 0;
            svg {
              margin-right: 1rem;
              width: 3rem;
              height: 3rem;
              vertical-align: middle;
            }
            h6 {
              font-size: 1.5rem;
              font-family: "Overlock", cursive;
              display: inline-block;
              @media screen and (max-width: 910px) {
              }
            }
          }
        }
      }
    }
  }
}
