.header--info {
  width: 50%;
  padding-left: 30px;
  h2 {
    background-color: #f3e000;
    color: black;
    font-size: 1.4vw;
    padding: 0.5rem 1.5rem;
    display: inline-block;
    margin-top: 0;
    border-radius: 0.5rem;
    position: relative;
    &:before {
      width: 0;
      height: 0;
      position: absolute;
      content: "";
      bottom: -9px;
      left: 12px;
      border-style: solid;
      border-width: 10px 10px 0 10px;
      border-color: #f3e000 transparent transparent transparent;
    }
  }
  h6 {
    font-size: 1.4vw;
    color: #c7c7c7;
    margin-top: 0.8em;
    letter-spacing: 6px;
  }
  p {
    font-size: 3vw;
    color: #fff;
    margin: 0.5em 0 0;
  }
  .header__info--address {
    border-top: 1px solid #afafaf;
    margin-top: 2em;
    p {
      color: whitesmoke;
      font-size: 20px;
      @media screen and (max-width: 800px) {
        font-size: 16px;
      }
      span {
        padding-left: 10px;
      }
    }
  }
}
